.btn_blank {
	margin-right: 5px;
	margin-left: 5px;
}

.hidden {
	display: none;
}

.search_bar {
	width: 30%;
}

.search_form {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10%;
	width: 100%
}

.flex-container {
	display: flex;
	flex-direction: row; /* ���η� �迭 */
	justify-content: space-between; /* �� �׸� ������ ������ �ִ�ȭ�Ͽ� ���� */
	align-items: center;
	position: absolute;
	top: 20%;
	width: 100%;
	height: 80%;
}

.flex-item {
	width: 30%; /* �� ���̺��� �ʺ� ���� */
	margin: 20px;
}

.tr_bgc {
	background-color: #E0FFFF;
}

.table_hover:hover {
	background-color: #ADD8E6;
}

.list_group {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
}

.a_black {
	text-decoration: none;
	color: black;
	width: 100%;
}