.btn_blank {
	margin-right: 5px;
	margin-left: 5px;
}

.hidden {
	display: none;
}

.search_bar {
	width: 30%;
}

.search_form {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10%;
	width: 100%
}

.flex-container {
	display: flex;
<<<<<<< HEAD
	flex-direction: row; /* ï¿½ï¿½ï¿½Î·ï¿½ ï¿½è¿­ */
	justify-content: space-between; /* ï¿½ï¿½ ï¿½×¸ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½Ö´ï¿½È­ï¿½Ï¿ï¿½ ï¿½ï¿½ï¿½ï¿½ */
	align-items: center;
	position: absolute;
	top: 20%;
	width: 100%;
	height: 80%;
}

.flex-item {
	width: 30%; /* ï¿½ï¿½ ï¿½ï¿½ï¿½Ìºï¿½ï¿½ï¿½ ï¿½Êºï¿½ ï¿½ï¿½ï¿½ï¿½ */
	margin: 20px;
}

.tr_bgc {
	background-color: #E0FFFF;
}

.table_hover:hover {
	background-color: #ADD8E6;
}

.list_group {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
}

.a_black {
	text-decoration: none;
	color: black;
	width: 100%;
=======
	flex-direction: row; /* °¡·Î·Î ¹è¿­ */
	justify-content: space-between; /* °¢ Ç×¸ñ »çÀÌÀÇ °£°ÝÀ» ÃÖ´ëÈ­ÇÏ¿© Á¤·Ä */
	align-items: center;
	position: absolute;
	top: 20%;
	width: 100%;
	height: 80%;
}

.flex-item {
	width: 30%; /* °¢ Å×ÀÌºíÀÇ ³Êºñ ¼³Á¤ */
	margin: 20px;
}

.tr_bgc {
	background-color: #E0FFFF;
}

.table_hover:hover {
	background-color: #ADD8E6;
>>>>>>> refs/heads/ê¹€ì§„ìš±
}