@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('../images/background.jpeg') no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper {
	width: 420px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: #fff;
	border-radius: 10px;
	padding: 30px 40px;
	margin:20px;
}

.wrapper h1 {
	font-size: 36px;
	text-align: center;
}

.wrapper .input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 50px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
	color: #fff;
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.error-box {
	font-size : 8px;
	color:#f00;
}

.wrapper .remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.remember-forgot label input {
	accent-color: #fff;
	margin-right: 3px;
}

.remember-forgot a {
	color: #fff;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.wrapper .btn {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.register-link p a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.register-link p a:hover {
	text-decoration: underline;
}

.error-wrapper {
    position: absolute;
    bottom: -30px;
    left: 0;
}

.error-box {
    font-size: 10px;
    color: #f00;
    margin-top: 5px;
    display: block;
}

.error-wrapperID {
    position: absolute;
    bottom: -40px;
    left: 0;
}

.error-boxID {
    font-size: 10px;
    color: #f00;
    margin-top: 15px;
    display: block;
}

.wrapper .input-box-id {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 50px 0;
}

.input-box-id input {
	width: 75%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.input-box-id input::placeholder {
	color: #fff;
}

.input-box-id i {
	position: absolute;
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.input-box-id .idbtn{
	width: 20%;
	height: 55px;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 14px;
	color: #fff;
}

.input-box-id .idbtn:hover{
	width: 20%;
	height: 55px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 14px;
	color: #333;
	font-weight: 600;
}

.wrapper .input-box-email {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 50px 0;
}

.input-box-email input {
	width: 75%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.input-box-email input::placeholder {
	color: #fff;
}

.input-box-email i {
	position: absolute;
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.input-box-email .emailbtn{
	width: 20%;
	height: 55px;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 14px;
	color: #fff;
}

.input-box-email .emailbtn:hover{
	width: 20%;
	height: 55px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 14px;
	color: #333;
	font-weight: 600;
}

.input-box-date input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 5px 20px 20px;
}

.wrapper .input-box-date {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 50px 0;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 1;
   display: block;
   background: url('../images/calendar.png') no-repeat;
   width: 30px;
   height: 25px;
   border-width: thin;
   color: #fff;
}