@charset "UTF-8";

.top {
	font-weight: bold;
	font-size: 16px
}

.bottom .name {
	font-size: 20px;
	color: #727174;
}

.bottom .count {
	font-size: 13px;
	color: #b4b4b6;
}

.wrap {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-bottom: 100px;
}

.card_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: auto;
	gap: 24px;
	border: 1px solid #ebeaec;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 16px;
	padding: 24px;
	align-items: center;
}

.card_container:hover {
	transform: translateY(20px);
	cursor: pointer;
}

.button-wrap {
	margin-top: 68px;
	margin-left: -89px;
	text-align: center;
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 300px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

a.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
	color: white;
	box-shadow: #14213d 0 80px 0px 2px inset;
}
