@import
	url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap')
	;

.navbar_font {
	font-family: 'Gowun Dodum', sans-serif;
	font-family: 'Nanum Myeongjo', serif;
	background-color: #e3f2fd;
}

.btn_left {
	border: none;
	text-align: left;
	position: absolute;
	left: 3%;
}

.btn_blank {
	margin-right: 5px;
	margin-left: 5px;
}

.hidden {
	display: none;
}

.search_bar {
	width: 30%;
}

.search_form {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10%;
	width: 100%
}

.nav_hide {
	display: none;
}

.nav_p {
	position: absolute;
	width: 100%;
	z-index: 100;
	color: white;
}

.nav_under {
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: black;
}
