<div class="wrap_atist_info">
	<p class="title_atist">
		<strong class="none">아티스트명</strong>EXO
	</p>
	<div class="wrap_atistname">
		<strong class="none">멤버명</strong> <a
			href="javascript:melon.link.goArtistDetail(710009)" title="카이 (KAI)"
			class="atistname"> <span>카이 (KAI)</span> <span
			class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/007/10/009/710009_20230707114507_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(715176)"
			title="첸 (CHEN)" class="atistname"> <span>첸 (CHEN)</span> <span
			class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/007/15/176/715176_20230707114613_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(672858)"
			title="세훈 (SEHUN)" class="atistname"> <span>세훈 (SEHUN)</span> <span
			class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/006/72/858/672858_20230707114651_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(715178)"
			title="레이 (LAY)" class="atistname"> <span>레이 (LAY)</span> <span
			class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/007/15/178/715178_20221223112253_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(715175)"
			title="시우민 (XIUMIN)" class="atistname"> <span>시우민 (XIUMIN)</span>
			<span class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/007/15/175/715175_20230707114739_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(672859)"
			title="백현 (BAEKHYUN)" class="atistname"> <span>백현
				(BAEKHYUN)</span> <span class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/006/72/859/672859_20230707114952_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(672853)"
			title="디오 (D.O.)" class="atistname"> <span>디오 (D.O.)</span> <span
			class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/006/72/853/672853_20230913112522_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(672855)"
			title="수호 (SUHO)" class="atistname"> <span>수호 (SUHO)</span> <span
			class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/006/72/855/672855_20230707115209_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a> , <a href="javascript:melon.link.goArtistDetail(672857)"
			title="찬열 (CHANYEOL)" class="atistname"> <span>찬열
				(CHANYEOL)</span> <span class="thumb_atist"><img
				onerror="WEBPOCIMG.defaultArtistImg(this, 52);" width="52"
				height="52"
				src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/006/72/857/672857_20231018102632_500.jpg/melon/resize/52/quality/80/optimize"
				alt=""></span>
		</a>
	</div>
	<dl class="atist_info clfix">
		<dt>데뷔</dt>
		<dd>
			<span class="gubun">2012.04.08</span> <a href="javascript:;"
				onclick="javascript:melon.play.playSong('27120101',4129422);"
				title="늑대와 미녀 (Wolf) 재생" class="btn_play_song"> <span
				class="icon_play">곡재생</span> <span class="songname12">늑대와 미녀
					(Wolf)</span>
			</a>
		</dd>
		<dt>활동유형</dt>
		<dd>그룹</dd>
		<dt>소속사</dt>
		<dd>(주)SM엔터테인먼트</dd>
		<dt>수상이력</dt>
		<dd class="awarded">
			<span class="ellipsis">2021 하이원 서울가요대상<span class="bar">|</span>한류
				특별상
			</span> <a href="javascript:melon.link.goArtistDetail('724619', '2');"
				title="EXO 상세정보 더보기" class="btn_text arrow_r"> <span
				class="text">더보기</span> <span class="icon"></span>
			</a>
		</dd>
	</dl>
	<dl class="atist_sns clfix">
		<dt>공유하기</dt>
		<dd>
			<span class="wrap_btn_sns">
				<button type="button" title="친구에게 아티스트 추천하기"
					onclick="javascript:melon.link.goMultiMessagePop('artist','724619', '27100108');"
					class="btn_sns frend" data-menuid="27100108">
					<span class="odd_span">친구</span>
				</button>
				<button type="button" title="페이스북" id="artistFacebook"
					class="btn_sns facebook" data-menuid="27100101">
					<span class="odd_span">페이스북</span>
				</button>
				<button type="button" title="트위터" id="artistTwitter"
					class="btn_sns twitter" data-menuid="27100102">
					<span class="odd_span">트위터</span>
				</button>
			</span>
		</dd>
	</dl>
</div>